@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "roboto", sans-serif;
}
img{
    height:200px;
    width: 200px;
    border-style:solid;
    border-width:3px;
    border-radius: 10px;
    margin:10px;
}
nav{
    width:100%;
    color:#614344;
    background-color: #99C24D;
}
nav>ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
}

ol{
    list-style-type: armenian;
    list-style-position: outside;
}
.listItemTwo{
    font-size: 16px;
    font-family: "Merriweather", serif;
}
a{
    font-size: 30px;
    text-decoration: none;
}
a:hover{
    font-size: 35px;
    text-decoration: underline;
    color:white;
    font-weight: 500;
}

main{
    background-color: rgb(153, 230, 255, 1) ;
}
h1, h2{
    color:#FFF3B0;
    background-color: #9E2A2B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
p{
    color: #E09F3E;
    text-align: center;
}
.firstParagraph::first-letter{
    font-size:20px;
    color:black;
}