nav{
    width:100%;
}
nav>ul{
    display:flex;
    justify-content: space-around;
}
li{
    list-style: none;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: #FFD23F;
}
main{
    background-color: rgb(153, 230, 255, 1) ;
}
h1, h2{
    color:#FFF3B0;
    background-color: #9E2A2B;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: #E09F3E;
}